Host amazon
  HostName amazon.panjiva.com
  Port 23377
  User deploy

Host black
  HostName black.panjiva.com
  Port 23377
  User deploy

Host bo
  HostName bo.panjiva.com
  Port 23377
  User deploy

Host kenai
  HostName kenai.panjiva.com
  Port 23377
  User deploy

Host loire
  HostName loire.panjiva.com
  Port 23377
  User deploy

Host omo
  HostName omo.panjiva.com
  Port 23377
  User deploy

Host seine
  HostName seine.panjiva.com
  Port 23377
  User deploy

Host staging
  HostName staging.panjiva.com
  Port 23377
  User deploy

Host tigris
  HostName tigris.panjiva.com
  Port 23377
  User deploy

Host white
  HostName white.panjiva.com
  Port 23377
  User deploy

Host yellow
  HostName yellow.panjiva.com
  Port 23377
  User deploy

Host yukon
  HostName yukon.panjiva.com
  Port 23377
  User deploy

Host dev
  HostName yukon.panjiva.com
  LocalForward 22723 localhost:22723
  Port 23377
  User brad

Host dev2
  HostName yukon.panjiva.com
  LocalForward 22724 localhost:22724
  Port 23377
  User brad

Host betterif
  HostName 23.21.38.100
  IdentityFile /home/bradcater/.ssh/betterif.pem
  User ec2-user

Host bridj
  HostName 107.22.34.122
  IdentityFile /home/bradcater/.ssh/bridj.pem
  User ec2-user

Host *
  ServerAliveInterval 30
