Host amazon
  HostName amazon.panjiva.com
  Port 23377
  User deploy

Host arno
  HostName arno.panjiva.com
  Port 23377
  User deploy

Host black
  HostName black.panjiva.com
  Port 23377
  User deploy

Host bo
  HostName bo.panjiva.com
  Port 23377
  User deploy

Host kenai
  HostName kenai.panjiva.com
  Port 23377
  User deploy

Host loire
  HostName loire.panjiva.com
  Port 23377
  User deploy

Host omo
  HostName omo.panjiva.com
  Port 23377
  User deploy

Host seine
  HostName seine.panjiva.com
  Port 23377
  User deploy

Host staging
  HostName staging.panjiva.com
  Port 23377
  User deploy

Host tigris
  HostName tigris.panjiva.com
  Port 23377
  User deploy

Host white
  HostName white.panjiva.com
  Port 23377
  User deploy

Host yellow
  HostName yellow.panjiva.com
  Port 23377
  User deploy

Host yukon
  HostName yukon.panjiva.com
  Port 23377
  User deploy

Host dev
  HostName yukon.panjiva.com
  LocalForward 22723 localhost:22723
  Port 23377
  User brad

Host dev2
  HostName yukon.panjiva.com
  LocalForward 22724 localhost:22724
  Port 23377
  User brad

Host bridj
  HostName 107.22.34.122
  IdentityFile /home/bradcater/.ssh/bridj.pem
  User ec2-user

Host *
  Compression yes
  ServerAliveInterval 30

# Taken from
#   http://www.howtoforge.com/anonymous-ssh-sessions-with-tor
Host anon_*
  #CheckHostIP no
  Protocol 2
  ProxyCommand connect -4 -S localhost:9050 $(tor-resolve %h localhost:9050) %p
Host app
  HostName app.betterific.com
  IdentityFile /home/bradcater/.ssh/betterif.pem
  User ubuntu
Host petsmart
  HostName petsmart.betterific.com
  IdentityFile /home/bradcater/.ssh/betterif.pem
  User ubuntu
Host search
  HostName search.betterific.com
  IdentityFile /home/bradcater/.ssh/betterif.pem
  User ubuntu

Host robotretail
  HostName robotretail.webfactional.com
  User robotretail

Host airport
  HostName 75.251.123.79
  User robotretail
  Port 19876

Host southstation
  HostName 50.12.134.174
  User robotretail
  Port 19876
